<section class="footer">
  <span class="todo-count">
    <strong><%= @uncompleted_count %></strong> <%= "item".pluralize(@uncompleted_count) %> left
  </span>

  <ul class="filters">
    <li><a class="<%= @filter == "all" ? "selected" : nil %>" data-behavior="show-all">All</a></li>
    <li><a class="<%= @filter == "uncompleted" ? "selected" : nil %>" data-behavior="show-uncompleted">Active</a></li>
    <li><a class="<%= @filter == "completed" ? "selected" : nil %>" data-behavior="show-completed">Completed</a></li>
  </ul>

  <% if @completed_count > 0 %>
    <button class="clear-completed" data-behavior="destroy-completed">
      Clear completed
    </button>
  <% end %>
<section>
