<%= content_tag :section, class: "footer #{Todo.count.zero? ? "hidden" : nil}" do %>
  <%= render partial: "/todos/count", locals: { count: Todo.uncompleted.count } %>

  <ul class="filters">
    <li><%= link_to "All",       "#", class: "filter #{(@filter == "all" ? "selected" : nil)}", data: { behavior: "show-all" } %></li>
    <li><%= link_to "Active",    "#", class: "filter #{(@filter == "uncompleted" ? "selected" : nil)}", data: { behavior: "show-uncompleted" } %></li>
    <li><%= link_to "Completed", "#", class: "filter #{(@filter == "completed" ? "selected" : nil)}", data: { behavior: "show-completed" } %></li>
  </ul>

  <%= button_tag "Clear completed", class: "clear-completed #{ Todo.completed.count.zero? ? "hidden" : nil}", data: { behavior: "destroy-completed" } %>
<% end %>
