<!DOCTYPE html>
<html>
  <head>
    <title>CableReadyTodomvc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag "window.userId = '#{@user_id || user_id}';" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>

    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="https://github.com/hopsoft/todomvc-cableready">Nathan Hopkins</a></p>
      <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
  </body>
</html>
